# Weeks 5 & 6

- Joshua Burden
- Bellevue University
- DSC540 Data Preparation
- Cathrine Williams
- 07/17/2022


### Complete the following exercises. You can submit a Jupyter Notebook or a PDF of your code. If you submit a .py file you need to also include a PDF or attachment of your results.

In [9]:

import numpy as np
import requests
import pandas as pd

In [88]:
df = pd.read_excel('candyhierarchy2017.xlsx')
df.head()

/Users/joshua/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [89]:
df.shape

(2460, 120)

In [90]:
df.isna().sum()

Internal ID                    0
Q1: GOING OUT?               110
Q2: GENDER                    41
Q3: AGE                       84
Q4: COUNTRY                   64
                            ...
Q12: MEDIA [Daily Dish]     2375
Q12: MEDIA [Science]        1098
Q12: MEDIA [ESPN]           2361
Q12: MEDIA [Yahoo]          2393
Click Coordinates (x, y)     855
Length: 120, dtype: int64

In [91]:
df.set_index(['Internal ID'],inplace=True)
df.head()

,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
Internal ID,,,,,,,,,,,,,,,,,,,,,
90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [92]:
df.dropna(axis=0,how='all',inplace=True)
df.shape

(2439, 119)

In [93]:
df.duplicated().sum()

15

In [94]:
#drop dups
df.drop_duplicates(inplace=True)
df.shape

(2424, 119)

In [95]:
# Dropping columns where more than 50% records are NaN
df.dropna(thresh=df.shape[0]*0.5,how='all',axis=1,inplace=True)
df.shape

(2424, 112)

In [96]:
# Dropping rows where more than 50% records are NaN
df.dropna(thresh=df.shape[1]*0.5,how='all',axis=0,inplace=True)
df.shape

(1781, 112)

In [98]:
df['Q4: COUNTRY'].unique()

array(['USA ', 'us', 'usa', nan, 'canada', 'Canada', 'Us', 'US', 'Murica',
       'USA', 'uk', 'United States', 'united states', 'Usa',
       'United staes', 'United Kingdom', 'United States of America',
       'UAE', 'United States ', 'canada ', 'United states', 'u.s.a.',
       'USAUSAUSA', 'america', 'france', 'United States of America ',
       'U.S.A.', 'Mexico', 'Canada ', 'united states of america',
       'US of A', 'UK', 'Unites States', 'The United States',
       'North Carolina ', 'Netherlands', 'Europe', 'Earth', 'U S', 'u.s.',
       'Costa Rica', 'The United States of America', 'cascadia',
       'insanity lately', 'Greece', 'USA? Hard to tell anymore..',
       "'merica", 'Pittsburgh', 'United State', 'France', 'U.S.', 'A',
       'Can', 'Canae', 'New York', 'Trumpistan', 'Ireland',
       'United Sates', 'Korea', 'Australia', 'California', 'Japan', 'USa',
       'I pretend to be from Canada, but I am really from the United States.',
       'Usa ', 'Iceland', 'Canada`', 'Scotland', 'Denmark', 'France ',
       'Uk', 'Switzerland', 'Ahem....Amerca', 'South Korea', 'New Jersey',
       'CANADA', 'United Stated', 'Germany', 'America', 'United Statss',
       'endland', 'Atlantis', 'murrika', 'Alaska', 'united States ',
       'germany', 'N. America', 'USSA', 'Taiwan', 'China', 'spain',
       'U.S. ', 'Narnia', 'u s a', 'United Statea',
       'subscribe to dm4uz3 on youtube', 'USA USA USA!!!!',
       "I don't know anymore", 'Fear and Loathing'], dtype=object)

In [99]:
df['Q4: COUNTRY'] = df['Q4: COUNTRY'].str.upper()
df['Q4: COUNTRY'].unique()

array(['USA ', 'US', 'USA', nan, 'CANADA', 'MURICA', 'UK',
       'UNITED STATES', 'UNITED STAES', 'UNITED KINGDOM',
       'UNITED STATES OF AMERICA', 'UAE', 'UNITED STATES ', 'CANADA ',
       'U.S.A.', 'USAUSAUSA', 'AMERICA', 'FRANCE',
       'UNITED STATES OF AMERICA ', 'MEXICO', 'US OF A', 'UNITES STATES',
       'THE UNITED STATES', 'NORTH CAROLINA ', 'NETHERLANDS', 'EUROPE',
       'EARTH', 'U S', 'U.S.', 'COSTA RICA',
       'THE UNITED STATES OF AMERICA', 'CASCADIA', 'INSANITY LATELY',
       'GREECE', 'USA? HARD TO TELL ANYMORE..', "'MERICA", 'PITTSBURGH',
       'UNITED STATE', 'A', 'CAN', 'CANAE', 'NEW YORK', 'TRUMPISTAN',
       'IRELAND', 'UNITED SATES', 'KOREA', 'AUSTRALIA', 'CALIFORNIA',
       'JAPAN',
       'I PRETEND TO BE FROM CANADA, BUT I AM REALLY FROM THE UNITED STATES.',
       'ICELAND', 'CANADA`', 'SCOTLAND', 'DENMARK', 'FRANCE ',
       'SWITZERLAND', 'AHEM....AMERCA', 'SOUTH KOREA', 'NEW JERSEY',
       'UNITED STATED', 'GERMANY', 'UNITED STATSS', 'ENDLAND', 'ATLANTIS',
       'MURRIKA', 'ALASKA', 'N. AMERICA', 'USSA', 'TAIWAN', 'CHINA',
       'SPAIN', 'U.S. ', 'NARNIA', 'U S A', 'UNITED STATEA',
       'SUBSCRIBE TO DM4UZ3 ON YOUTUBE', 'USA USA USA!!!!',
       "I DON'T KNOW ANYMORE", 'FEAR AND LOATHING'], dtype=object)

In [100]:
df['Q4: COUNTRY'].unique().size

79

Now will correct name for country of USA

In [101]:
usa_names_map = {
    'USA': 'USA',
    'USA ': 'USA',
    'US': 'USA',
    'UNITED STATES': 'USA',
    'U.S.': 'USA',
    'UNITED STATES OF AMERICA': 'USA',
    'US OF A': 'USA',
    'U.S.A.': 'USA',
    'USAUSAUSA': 'USA',
    'THE UNITED STATES':'USA',
    'UNIED STATES': 'USA',
    'USA! USA! USA!':'USA',
    'USAA': 'USA',
    'AMERICA': 'USA',
    'UNHINGED STATES': 'USA',
    'THE UNITED STATES OF AMERICA': 'USA', 
    'UNITE STATES': 'USA',
    'UNITED SATES': 'USA',
    'UNITES STATES': 'USA',
    'UNITED STSTES': 'USA',
    'UNITED STATES ': 'USA',
    'UNITED STATES OF AMERICA ': 'USA',
    'U S': 'USA',
    'UNITED STATED': 'USA',
    'USA USA USA!!!!': 'USA'
}

df['Q4: COUNTRY'] = df['Q4: COUNTRY'].map(usa_names_map).fillna(df['Q4: COUNTRY'])
df['Q4: COUNTRY'].unique()

array(['USA', nan, 'CANADA', 'MURICA', 'UK', 'UNITED STAES',
       'UNITED KINGDOM', 'UAE', 'CANADA ', 'FRANCE', 'MEXICO',
       'NORTH CAROLINA ', 'NETHERLANDS', 'EUROPE', 'EARTH', 'COSTA RICA',
       'CASCADIA', 'INSANITY LATELY', 'GREECE',
       'USA? HARD TO TELL ANYMORE..', "'MERICA", 'PITTSBURGH',
       'UNITED STATE', 'A', 'CAN', 'CANAE', 'NEW YORK', 'TRUMPISTAN',
       'IRELAND', 'KOREA', 'AUSTRALIA', 'CALIFORNIA', 'JAPAN',
       'I PRETEND TO BE FROM CANADA, BUT I AM REALLY FROM THE UNITED STATES.',
       'ICELAND', 'CANADA`', 'SCOTLAND', 'DENMARK', 'FRANCE ',
       'SWITZERLAND', 'AHEM....AMERCA', 'SOUTH KOREA', 'NEW JERSEY',
       'GERMANY', 'UNITED STATSS', 'ENDLAND', 'ATLANTIS', 'MURRIKA',
       'ALASKA', 'N. AMERICA', 'USSA', 'TAIWAN', 'CHINA', 'SPAIN',
       'U.S. ', 'NARNIA', 'U S A', 'UNITED STATEA',
       'SUBSCRIBE TO DM4UZ3 ON YOUTUBE', "I DON'T KNOW ANYMORE",
       'FEAR AND LOATHING'], dtype=object)

In [102]:
df['Q4: COUNTRY'].unique().size

61

### Create hierarchical index

In [104]:
candy_names = {x:x.split('Q6 | ')[1] for x in df.columns if x.startswith('Q6 | ')}
#candy_names = [ {x:x.split('Q6 | ')[1]} for x in df.columns if x.startswith('Q6 | ')] 
#candy_names
df.rename(columns=candy_names,inplace=True)
df.reset_index(inplace=True)
#df.set_index(list(candy_names.values()),inplace=True)
#df.head()


df.dropna(subset=['Q2: GENDER','Q3: AGE'],inplace=True)
df.shape

(1743, 113)

In [105]:
df.set_index(['Q2: GENDER','Q3: AGE'],inplace=True)
df.head()

                    Internal ID Q1: GOING OUT? Q4: COUNTRY  \
Q2: GENDER Q3: AGE
Male       44          90272821             No         USA
           40          90272840             No         USA
           23          90272841             No         USA
           33          90272854             No      CANADA
           40          90272858             No      CANADA

                   Q5: STATE, PROVINCE, COUNTY, ETC 100 Grand Bar  \
Q2: GENDER Q3: AGE
Male       44                                    NM           MEH
           40                                    or           MEH
           23                              exton pa           JOY
           33                               ontario           JOY
           40                               Ontario           JOY

                   Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)  \
Q2: GENDER Q3: AGE
Male       44                                                 DESPAIR
           40                                                 DESPAIR
           23                                                 DESPAIR
           33                                                 DESPAIR
           40                                                 DESPAIR

                   Any full-sized candy bar Black Jacks Bonkers (the candy)  \
Q2: GENDER Q3: AGE
Male       44                           JOY         MEH             DESPAIR
           40                           JOY         MEH                 MEH
           23                           JOY     DESPAIR                 MEH
           33                           JOY     DESPAIR             DESPAIR
           40                           JOY         MEH                 MEH

                   Bonkers (the board game)  ...  \
Q2: GENDER Q3: AGE                           ...
Male       44                       DESPAIR  ...
           40                       DESPAIR  ...
           23                       DESPAIR  ...
           33                           MEH  ...
           40                           MEH  ...

                   Vials of pure high fructose corn syrup, for main-lining into your vein  \
Q2: GENDER Q3: AGE
Male       44                                                 DESPAIR
           40                                                 DESPAIR
           23                                                     MEH
           33                                                     JOY
           40                                                     MEH

                    Vicodin Whatchamacallit Bars White Bread  \
Q2: GENDER Q3: AGE
Male       44       DESPAIR              DESPAIR     DESPAIR
           40           JOY                  JOY     DESPAIR
           23           JOY                  JOY     DESPAIR
           33           MEH              DESPAIR     DESPAIR
           40       DESPAIR                  MEH     DESPAIR

                   Whole Wheat anything York Peppermint Patties  \
Q2: GENDER Q3: AGE
Male       44                   DESPAIR                 DESPAIR
           40                   DESPAIR                 DESPAIR
           23                   DESPAIR                     JOY
           33                   DESPAIR                 DESPAIR
           40                   DESPAIR                 DESPAIR

                        Q10: DRESS Q11: DAY Q12: MEDIA [Science]  \
Q2: GENDER Q3: AGE
Male       44       White and gold   Sunday                  1.0
           40       White and gold   Sunday                  1.0
           23       White and gold   Friday                  1.0
           33       Blue and black   Friday                  1.0
           40       Blue and black   Sunday                  1.0

                   Click Coordinates (x, y)
Q2: GENDER Q3: AGE
Male       44                      (84, 25)
           40                      (75, 23)
           23                      (70, 10)
           33                       (55, 5)
           40                      (76, 24)

[5 rows x 111 columns]

In [106]:
new_index = pd.Index(list(candy_names.values()),name='candy')
new_df = df.reindex(columns=new_index)
new_df.head()

candy              100 Grand Bar  \
Q2: GENDER Q3: AGE
Male       44                MEH
           40                MEH
           23                JOY
           33                JOY
           40                JOY

candy              Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)  \
Q2: GENDER Q3: AGE
Male       44                                                 DESPAIR
           40                                                 DESPAIR
           23                                                 DESPAIR
           33                                                 DESPAIR
           40                                                 DESPAIR

candy              Any full-sized candy bar Black Jacks Bonkers (the candy)  \
Q2: GENDER Q3: AGE
Male       44                           JOY         MEH             DESPAIR
           40                           JOY         MEH                 MEH
           23                           JOY     DESPAIR                 MEH
           33                           JOY     DESPAIR             DESPAIR
           40                           JOY         MEH                 MEH

candy              Bonkers (the board game) Bottle Caps Box'o'Raisins  \
Q2: GENDER Q3: AGE
Male       44                       DESPAIR     DESPAIR       DESPAIR
           40                       DESPAIR         MEH       DESPAIR
           23                       DESPAIR         MEH       DESPAIR
           33                           MEH         JOY           MEH
           40                           MEH         MEH       DESPAIR

candy              Broken glow stick Butterfinger  ... Three Musketeers  \
Q2: GENDER Q3: AGE                                 ...
Male       44                DESPAIR      DESPAIR  ...              JOY
           40                DESPAIR          MEH  ...          DESPAIR
           23                DESPAIR          MEH  ...              JOY
           33                    JOY          JOY  ...              JOY
           40                DESPAIR          JOY  ...              MEH

candy              Tolberone something or other Trail Mix Twix  \
Q2: GENDER Q3: AGE
Male       44                               JOY   DESPAIR  JOY
           40                               JOY       MEH  JOY
           23                               JOY   DESPAIR  JOY
           33                               MEH   DESPAIR  JOY
           40                               JOY   DESPAIR  JOY

candy              Vials of pure high fructose corn syrup, for main-lining into your vein  \
Q2: GENDER Q3: AGE
Male       44                                                 DESPAIR
           40                                                 DESPAIR
           23                                                     MEH
           33                                                     JOY
           40                                                     MEH

candy               Vicodin Whatchamacallit Bars White Bread  \
Q2: GENDER Q3: AGE
Male       44       DESPAIR              DESPAIR     DESPAIR
           40           JOY                  JOY     DESPAIR
           23           JOY                  JOY     DESPAIR
           33           MEH              DESPAIR     DESPAIR
           40       DESPAIR                  MEH     DESPAIR

candy              Whole Wheat anything York Peppermint Patties
Q2: GENDER Q3: AGE
Male       44                   DESPAIR                 DESPAIR
           40                   DESPAIR                 DESPAIR
           23                   DESPAIR                     JOY
           33                   DESPAIR                 DESPAIR
           40                   DESPAIR                 DESPAIR

[5 rows x 103 columns]

### Reshape data using stack() method

In [107]:
ldata = new_df.stack().reset_index().rename(columns={0: 'candy_liking'})
ldata[:10]

,Q2: GENDER,Q3: AGE,candy,candy_liking
0,Male,44,100 Grand Bar,MEH
1,Male,44,Anonymous brown globs that come in black and o...,DESPAIR
2,Male,44,Any full-sized candy bar,JOY
3,Male,44,Black Jacks,MEH
4,Male,44,Bonkers (the candy),DESPAIR
5,Male,44,Bonkers (the board game),DESPAIR
6,Male,44,Bottle Caps,DESPAIR
7,Male,44,Box'o'Raisins,DESPAIR
8,Male,44,Broken glow stick,DESPAIR
9,Male,44,Butterfinger,DESPAIR

### Grouping with Dics/Series

In [113]:
df.reset_index(inplace=True)
df.head()

,index,Q2: GENDER,Q3: AGE,Internal ID,Q1: GOING OUT?,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",100 Grand Bar,Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Any full-sized candy bar,...,"Vials of pure high fructose corn syrup, for main-lining into your vein",Vicodin,Whatchamacallit Bars,White Bread,Whole Wheat anything,York Peppermint Patties,Q10: DRESS,Q11: DAY,Q12: MEDIA [Science],"Click Coordinates (x, y)"
0,0,Male,44,90272821,No,USA,NM,MEH,DESPAIR,JOY,...,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday,1.0,"(84, 25)"
1,1,Male,40,90272840,No,USA,or,MEH,DESPAIR,JOY,...,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday,1.0,"(75, 23)"
2,2,Male,23,90272841,No,USA,exton pa,JOY,DESPAIR,JOY,...,MEH,JOY,JOY,DESPAIR,DESPAIR,JOY,White and gold,Friday,1.0,"(70, 10)"
3,3,Male,33,90272854,No,CANADA,ontario,JOY,DESPAIR,JOY,...,JOY,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,Blue and black,Friday,1.0,"(55, 5)"
4,4,Male,40,90272858,No,CANADA,Ontario,JOY,DESPAIR,JOY,...,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,DESPAIR,Blue and black,Sunday,1.0,"(76, 24)"

In [115]:
df.shape

(1743, 114)

In [116]:
# dropping records where either country or State/Province/City field have missing data
df.dropna(subset=['Q4: COUNTRY','Q5: STATE, PROVINCE, COUNTY, ETC'],inplace=True)
df.shape

(1723, 114)

In [117]:
# Now will group by Country and City.


mapping = {
    'Q4: COUNTRY': 'COUNTRY',
    'Q5: STATE, PROVINCE, COUNTY, ETC': 'LOCATION'
}

by_column = df.groupby(mapping, axis=1)
by_column

In [118]:
by_column.describe()

                                 count unique         top  freq
Q4: COUNTRY                       1723     56         USA  1490
Q5: STATE, PROVINCE, COUNTY, ETC  1723    423  California   107

### Cross tabs

In [119]:
ldata[:10]

,Q2: GENDER,Q3: AGE,candy,candy_liking
0,Male,44,100 Grand Bar,MEH
1,Male,44,Anonymous brown globs that come in black and o...,DESPAIR
2,Male,44,Any full-sized candy bar,JOY
3,Male,44,Black Jacks,MEH
4,Male,44,Bonkers (the candy),DESPAIR
5,Male,44,Bonkers (the board game),DESPAIR
6,Male,44,Bottle Caps,DESPAIR
7,Male,44,Box'o'Raisins,DESPAIR
8,Male,44,Broken glow stick,DESPAIR
9,Male,44,Butterfinger,DESPAIR

In [120]:
pd.crosstab([ldata['candy']],ldata.candy_liking,margins=True)

candy_liking,DESPAIR,JOY,MEH,All
candy,,,,
100 Grand Bar,84,852,732,1668
Abstained from M&M'ing.,681,217,592,1490
Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),1055,174,452,1681
Any full-sized candy bar,16,1517,201,1734
Black Jacks,778,87,601,1466
...,...,...,...,...
Whatchamacallit Bars,278,831,495,1604
White Bread,1417,43,202,1662
Whole Wheat anything,1257,114,303,1674
York Peppermint Patties,226,1076,409,1711
All,56898,62737,51879,171514

In [121]:
crosstab_df = pd.crosstab([ldata['candy']],ldata.candy_liking)
print(crosstab_df[crosstab_df['JOY'] == crosstab_df['JOY'].max()])

candy_liking              DESPAIR   JOY  MEH
candy
Any full-sized candy bar       16  1517  201

### Convert between string and date time

In [122]:
na_values = [""," ",None,"Missing","NA"]
df_2016= pd.read_excel("BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx",na_values=na_values)
df_2016.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22.0,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2.0,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45.0,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48.0,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57.0,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42.0,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

In [123]:
#Checking Data type of Timestamp column.

dataTypeObj = df_2016.dtypes['Timestamp']
print(dataTypeObj)

datetime64[ns]

In [124]:
#extract value from timestamp and add extra column
day_of_week = df_2016['Timestamp'].apply(lambda x: x.strftime('%A'))
# Adding day_of_week as 2nd column in dataframe
df_2016.insert(loc=1,column='Day_of_Week',value=day_of_week)
df_2016.sample(5)

,Timestamp,Day_of_Week,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
502,2016-10-24 12:08:21.353,Monday,No,Male,55.0,USA,OH,MEH,MEH,JOY,...,2.0,2.0,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
1068,2016-10-27 10:35:29.824,Thursday,No,Male,54.0,USA,WA,MEH,DESPAIR,JOY,...,3 or higher,1.0,3 or higher,3 or higher,2.0,3 or higher,Friday,West to East,ESPN,NaN
434,2016-10-24 10:48:48.133,Monday,No,Male,40.0,Canada,Alberta,MEH,DESPAIR,JOY,...,2.0,1.0,3 or higher,3 or higher,2.0,1.0,Friday,East to West,Science: Latest News and Headlines,NaN
525,2016-10-24 12:39:24.853,Monday,No,Male,45.0,US,FL,MEH,DESPAIR,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
323,2016-10-24 08:56:20.324,Monday,No,Male,48.0,United States,Arizona,MEH,DESPAIR,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,East to West,Science: Latest News and Headlines,NaN

In [125]:
print(f" Data collected is between date range {df_2016['Timestamp'].min()} - {df_2016['Timestamp'].max()}")

 Data collected is between date range 2016-10-24 05:09:23.033000 - 2016-10-30 17:06:45.660000

### Convert timestamps to periods and back

In [126]:
session=pd.cut(df_2016.Timestamp.dt.hour,
               [0,6,12,18,23],
               labels=['Night','Morning','Afternoon','Evening'],
               include_lowest=True)
session.value_counts()

Morning      586
Afternoon    362
Night        218
Evening       93
Name: Timestamp, dtype: int64